@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-plus-jakarta: var(--font-plus-jakarta);
}

/* --- CUSTOM MIDNIGHT SCROLLBAR --- */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1C1C1E;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #a855f7;
  /* Purple-500 */
}

/* Hide scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: var(--font-plus-jakarta), system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}